body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fffae9;
}
nav {
    display: flex;
    align-items: flex-end;  
    background-color: #0e3d6b;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%; 
    box-sizing: border-box; 
}

.logo {
    width: 100px;
    height: auto;
    margin: 0; 
}

nav ul {
    font-size: 25px;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: flex-end; 
    margin: 0 auto; 
}

/* Espaçamento entre os links do menu */
nav ul li {
    margin: 0 20px;
}
header{
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-image: url('img/ceuestrelado.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;

    color: rgb(255, 255, 255);
    font-size: 70px;   
    font-family:cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

main {
    padding: 20px;
    font-size: 18px;

}

.inicio h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    padding: 60px;
}

h2{
    color:#123c64;
    font-size: 50px;
}

img{
    float: left;
}
.livro-do-mes:after{
  content: "";
  clear: both;
  display: table;}

h3{
    color: rgb(57, 105, 139);
    font-size: 35px;
}

.oqueé{
    display: flex;
}
h4{
    font-size: 25px;
    color: #6c9dcb;
}

