body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fffae9;
     font-weight: 500;
}

/* Estilos para a barra de navegação */
nav {
    display: flex;
    align-items: flex-end;  
    background-color:#0e3d6b;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%; 
    box-sizing: border-box; 
}

.logo {
    width: 100px;
    height: auto;
    margin: 0; 
}

nav ul {
    font-size: 25px;
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: flex-end; 
    margin: 0 auto; 
}

nav ul li {
    margin: 0 20px;
}


nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}


h1 {
    color: #123c64;
    font-size: 80px;
    text-align: center;
    margin-top: 70px;
}
.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 300px;
}

.card img{
    width: 260px;
    height: 300px;
    border-radius: 4px;
    align-items: center;

}